/* ==UserStyle==
@name Old.Reddit: Flexbox
@namespace youtube.com
@version 1.0.0
@description Basic style that uses flexbox to fix old.reddit when viewed from  the width of the page of style that causes the YouTube player to fill the window when in Theatre Mode but not overlap the navigation bar.
@author chrishazfun
==/UserStyle== */

@-moz-document url-prefix("https://old.reddit.com/r/") {
	body {
		display: flex;
		flex-direction: column;
	}
	.side {
		float: unset;
		background-color: unset;
		margin: 0px 5px 0 5px;
		width: unset;
	}
	#header { order: 1; }
	.side { order: 3; }
	.content { order: 2; }
	.footer-parent { order: 4; }
	.debuginfo { order: 5; }
}