/* ==UserStyle==
@name Phanpy Tweaks
@namespace chrishazfun
@version 2024.7.15
@updateURL https://raw.githubusercontent.com/chrishazfun/userstyles/main/phanpy-tweaks.user.css
@description A handful of adjustments to Phanpy.social, the third-party client for Mastodon.
@author chrishazfun
==/UserStyle== */

@-moz-document domain("phanpy.social") {
	#compose-container .status-preview {
	  max-height: unset !important;
	}
	#generic-accounts-container .accounts-list li {
		flex-basis: 100%;
	}
	.embed-modal-container .embed-content iframe {
	  width: max(var(--width), 1920px);
	}
}