/* ==UserStyle==
@name           YouTube: Fullscreen-ish Theatre Mode
@namespace      youtube.com
@version        1.0.9
@description    Simple style that causes the YouTube player to fill the window when in Theatre Mode but not overlap the navigation bar.
@author         chrishazfun
==/UserStyle== */

@-moz-document domain("www.youtube.com") {
  ytd-watch-flexy[theater]:not([fullscreen]) #player-full-bleed-container.ytd-watch-flexy,
  ytd-watch-flexy[theater]:not([fullscreen]) #full-bleed-container.ytd-watch-flexy {
    height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);
  }
  * {
    animation: unset !important;
    transition: unset !important;
  }
}